
<div th:fragment="deletecomment(comment)" class="modal fade" th:id="'commentdeletemodal'+${comment.id}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1" th:text="#{deleteCommentHeader}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3 th:text="#{deleteCommentConfirmation}"></h3>
                    <form th:action="'/posts/'+${comment.post.id}+'/comments/delete/'+${comment.id}" method="post">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" th:text="#{goBack}"></button>
                            <button type="submit" class="btn btn-danger" th:text="#{deletePost}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

</div>