<!DOCTYPE html>
<html lang="en">
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="postsfragment(posts)">
    <div th:each="post: ${posts}" class="bg-white rounded-7 shadow p-4 pt-0 mb-3">
        <div class="allposts">
            <h2 class="pt-3" th:text="${post.title}"></h2>
            <div sec:authorize="isAuthenticated()"
                 th:if="${loggedUser.getId() == post.getUser().getId() || #authorization.expression('hasAuthority(''ROLE_ADMIN'')')}"
                 class="post-details">

                <a style="color: black" class="nav-link mt-1"
                   onclick="reply_click(this.id),getModal()"
                   th:id="'#modal'+${post.id}"
                   role="button"
                   data-mdb-toggle="dropdown"
                   aria-expanded="false">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <button th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}" type="button" class="dropdown-item" data-bs-toggle="modal"
                                th:data-bs-target="'#modal'+${post.id}">
                            <div th:text="#{deletePost}" style="display: inline-block"></div>
                        </button>
                    </li>
                    <li>
                        <a class="dropdown-item" th:href="'/posts/'+${post.id}+'/edit'" th:text="#{editPost}"></a>
                    </li>
                </ul>
            </div>
            <th:block th:replace="_modals :: modal(modalid=${post.id})">modal</th:block>
        </div>
        <p class="text-muted fs-6 m-1"
           th:text="${post.created.getYear()+' '+post.getCreated().getMonth()+' '+post.getCreated().getDayOfMonth()+' '+post.getCreated().getHour()+':'+post.getCreated().getMinute()+':'+post.getCreated().getSecond()}"></p>
        <p class="m-0" th:text="${post.body}"></p>
        <p class="m-0 text-end font-italic text-secondary"
           th:text="#{postedBy}+': '+${post.getUser().getUsername()}"></p>
        <!--Comments Section -->
        <div th:replace="fragments/comments :: comments(post=${post})">
            <!-- Comments fragment -->
        </div>

        </div>
    </div>

</div>

</body>
</html>