<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- MDB -->
    <link rel="stylesheet" th:href="@{/styles/MDB5/css/mdb.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <link rel="stylesheet" th:href="@{/styles/index.css}">

    <title>Our Company</title>
</head>

<body>
<div th:replace="fragments/header :: header">
    <!--Header from fragments/header-->
</div>
<section class="w-100 p-4">
    <div class="row">
        <div class="col-md-3 col-example">.col-md-3</div>
        <div class="col-md-6 col-example">.col-md-6</div>
        <div class="col-md-3 col-example">.col-md-3</div>
    </div>
</section>
<div th:replace="fragments/footer :: footer1">

</div>
</body>
<script type="text/javascript" th:src="@{/styles/MDB5/js/mdb.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</html>