<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{styles/styles.css}">
    <title>Login</title>
</head>

<body>
<h2 class="text-center my-5">Welcome to Corona Haters Club!</h2>
<div class="container-fluid rounded-3 shadow main mx-auto" style="margin-top: 100px;">
    <h3></h3>
    <form class="p-4" th:action="@{/login}" method="post">
        <div class="fs-3 text-center">Login</div>
        <div class="form-group">
            <label for="emailInput">Email address</label>
            <input type="email" name="username" class="form-control" id="emailInput" aria-describedby="emailHelp"
                   placeholder="&#xF0e0; Enter email" style="font-family:Arial, FontAwesome" required>
            <br>
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" name="password" class="form-control" id="passwordInput" placeholder="&#xF023; Password" style="font-family:Arial, FontAwesome" required>
        </div>
        <div class="m-1">
            Not a member?
            <a th:href="@{register}" class="">Register now</a>
        </div>
        <button type="submit" class="mx-auto w-100 btn-lg btn-primary">Login</button>
    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</html>