
.col-example {
    border: 2px solid #eee;
    padding: 10px;
    color: #fff;
}
.allposts {
    position: relative;
}

.post-details {
    padding: 0;
    font-size: 28px;
    position: absolute;
    top: 0;
    right: 5%;
}
.comment-content:nth-child(even) {
    background: #1266F1;
    color:#fff;
}
.comment-content:nth-child(odd) {
    background: #FBFBFB;
    color: #000000;
}
.comment-date {
    font-size: 10px !important;
}
