.col-example {
    border: 2px solid #eee;
    padding: 10px;
    color: #fff;
}

.allposts {
    position: relative;
}

.post-details {
    padding: 0;
    font-size: 28px;
    position: absolute;
    top: 0;
    right: 5%;
}
.custom-shadow {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .25), 0 3px 8px 0px rgba(0, 0, 0, 1) !important;

}
.comment-content:nth-child(even) {
    background: #1266F1;
    color:#fff;
}
.comment-content:nth-child(odd) {
    background: #FBFBFB;
    color: #000000;
}