
.col-example {
    border: 2px solid #eee;
    padding: 10px;
    color: #fff;
}
.allposts {
    position: relative;
}

.post-details {
    padding: 0;
    font-size: 28px;
    position: absolute;
    top: 0;
    right: 5%;
}